<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.blogspot.gambitgeoff.ggeve" android:versionCode="2"
	android:versionName="1.0.0">
	<application android:icon="@drawable/eve_online_logo"
		android:label="@string/app_title" android:persistent="false"
		android:allowTaskReparenting="true" android:enabled="true"
		android:debuggable="true">
		<activity android:label="@string/app_title" android:name="SplashScreen"
			android:screenOrientation="portrait" android:icon="@drawable/eve_online_logo">
			
		<intent-filter><category android:name="android.intent.category.LAUNCHER"></category>
<action android:name="android.intent.action.MAIN"></action>
</intent-filter>
</activity>
	</application>
</manifest> 